.container {
  max-width: 800px;
  margin-bottom: 5%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

header {
  background-color: #14213D;
  color: #FCA311;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#typed-header {
  animation: type 1s;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #FCA311;
  margin-bottom: 10px;
}

/* 
@keyframes type {
  from {
    width: 0;
  }
}*/

#scroll-down-arrow {
  /* position: relative; */
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%); */
  margin-top: 50px; /* ADDED */
  width: 3rem;
  height: 4rem;
  border-left: 23.5px solid transparent;
  border-right: 23.5px solid transparent;
  border-top: 30px solid #FCA311;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@media screen and (max-width: 720px) {
  #scroll-down-arrow {
    top: 25%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  #typed-header {
    font-size: 25px;
  }
  #scroll-down-arrow {
    left: 6%;
  }
}

@media screen and (min-width: 720px) and (max-width: 768px) {
  .container {
    max-width: 600px;
  }  
}

#scroll-down-arrow.show {
  opacity: 1;
}

.social-icons a {
  font-size: x-large;
  padding: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  color: #FCA311;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin-bottom: 4rem;
}

.project-card {
  background-color: #1B3B53;
  border-radius: 6px;
  padding: 16px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
/*
.project-card a {
  text-decoration: none;
  color:#FCA311;
  }
*/
.project-card p {
  text-align: justify;
 }

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-card {
  background-color: #14213D;
  color: #FCA311;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.skill-card i {
  font-size: 36px;
  margin-bottom: 20px;
}

.skill-card p {
  font-size: 18px;
  margin: 0;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.dart-logo {
  filter: brightness(0) invert(1) sepia(1) saturate(7) hue-rotate(350deg) brightness(100%) contrast(100%);
  color: #FCA311 !important;
}

body {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #FCA311;
  margin: 0;
  padding: 0;
  background-color: #14213D;
}


.flipcards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.flip-card {
  background-color: transparent;
  width: 800px;
  height: 400px;
  perspective: 1000px;
  border-radius: 6px;
  padding: 16px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
  .flip-card-back{
    opacity: 1;
  }
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.flip-card-front {
  background-color: #1B3B53;
  color:#FCA311;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #1B3B53;
  padding: 10px;
  color:#FCA311;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.position-details {
  text-align: left;
}

h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Roboto Mono', monospace;
  color:#FCA311;
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color:#FCA311;
  margin-top: 0;
  margin-bottom: 8px;
} 